#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
    width:90px;
    border-radius:4px !important;
    text-align: center !important;
    padding: 8px 0px !important;
    margin: 1px 0px !important;
}
.customModal {
    background-color: green !important;
}

.mainContainer {
    padding-top:32px;
}

.modalButton {
    width:100%;
    border-radius:4px;
    text-align: center;
    padding: 8px 0px !important;
    margin: 1px 0px !important;
}

.photoshopPicker {
    box-sizing: border-box !important;
    width: 100% !important;
}
